# Python缓存文件
__pycache__/
*.py[cod]
*$py.class

# .specstory文件夹
.specstory/

envs/*
!envs/
!envs/.gitkeep

nets/*
!nets/
!nets/.gitkeep

tsc_rl_dataset.json
tsc_sft_dataset.json
history_data/*
!history_data/
!history_data/.gitkeep